.random_quote{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 255, 115);
    border-width: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
    height: 200px;
    width: 400px;
    background-color: rgb(44, 42, 42);
    margin: 30px;
    font-size: 20px;
    font-style: italic;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 10px;
    border-style: double;
    border-color: rgb(0, 0, 0); 
}

button.quote{
    height: 100px;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(252, 235, 213, 0.87);
    border-color: rgba(241, 210, 169, 0.87);
    border-width: 5px;
    cursor: pointer;
}